<div class="container-fluid">
  <div class="row-fluid" style="margin-top:2rem;">
    <div class="col-md-6">
      <div class="right-column">
      <h1>Core7</h1>
      <h2>Selfies meggings keytar locavore umami. Direct trade four loko authentic, aesthetic kale chips typewriter twee umami raw denim pitchfork tattooed church-key man braid.<h2>
      </div>
    </div>
    <div class="col-md-6">
      <div class="left-column">
      <%= image_tag("books/01.png", height:'450') %>
    </div>
    </div>
  </div>
</div>
<div class="row-fluid white" style="background-color:#fff;">
      <h1 style="text-align:center; color:#222;">What You'll Learn</h1>
</div>
