<section id="home">
  <div class="coloroverlay-static"> <!-- Start background color overlay-->
      <div class="container"> <!-- Start container -->
          <div class="row"> <!-- Start row -->
            <div class="col-md-12">
              <h1><span class="emphasis-bold">IDEA<span><span class="emphasis-thin">INTENSIVE</span></h1>
            </div>
          </div>
        </div>
  </div>
</section>
