  <div class="row" id="content-top">
    <div class="overlay">
    <div class="col-md-6">
      <div class="right-column">
      <h1>Need An Idea?</h1>
      <h4>Selfies meggings keytar locavore umami. Direct trade four loko authentic.<h4>
        <p>Readymade ad celiac ennui cliche. Literally mumblecore health goth et, leggings sapiente officia direct trade everyday carry consequat pug roof party ullamco marfa migas. </p>
        <p style="margin-top:2rem;"><a href="#" class="kite-trans">Learn More</a><a href="#" class="kite-dark">Get The Book</a></p>
      </div>
    </div>
    <div class="col-md-6">
      <div class="left-column">
      <%= image_tag("books/01.png", height:'600') %>
    </div>
    </div>
  </div>
  </div>

<div class="row">
    <div class="col-md-12">
      <p style="text-align:center; padding:10px;"><a class="book-hero" href="#" style="font-size:2.0rem;">Explore IDEABOOKS</a></p>
      <p style="text-align:center; padding:10px;"><a class="book-hero" href="#"><i class="fa fa-caret-down" aria-hidden="true"></i>Available Now<i class="fa fa-caret-down" aria-hidden="true"></i></a></p>
      <div class="book-holder">
        <div class="book-block">
          <%= image_tag("books/church.jpeg", height:'364') %>
            <div class="caption-box">
              <h1 class="book-name">Church</h1>
              <h2 class="book-subtitle">Reach your city<h2>
            </div>
        </div>
        <p style="text-align:center; padding:10px;"><a class="book-hero" href="#"><i class="fa fa-caret-down" aria-hidden="true"></i>Coming Soon<i class="fa fa-caret-down" aria-hidden="true"></i></a></p>
        <div class="book-block">
          <%= image_tag("books/nonprofit.jpeg", height:'364') %>
            <div class="caption-box">
              <h1 class="book-name">Nonprofit</h1>
              <h2 class="book-subtitle">Change the world<h2>
            </div>
        </div>
      </div>
    </div>
</div>
