
        <!--========================
        ======= Home Section =======
        =========================-->

        <section id="home">
            <div class="coloroverlay"> <!-- Start background color overlay-->
                <div class="container"> <!-- Start container -->
                    <div class="row"> <!-- Start row -->

                        <!-- Start left content -->
                        <div class="col-sm-6 col-md-6 col-lg-6">
                            <div class="text space"> <!-- This is your text content -->
                                <h1>We Have An Idea For You</h1>
                                <h4>The difference between winning and losing comes down to having one great idea</h4>
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                            </div> <!-- End of your text content -->

                            <a href="#learn" class="page-scroll btn btn-learn" data-wow-delay="1s"><span class="fa fa-chain"></span> Learn More</a> <!-- Learn more button link-->

                            <a href="#download" class="page-scroll btn btn-download"><span class="fa fa-shopping-cart"></span> Buy the Book</a> <!-- Download button link-->

                        </div> <!-- End left content-->

                        <!-- Start right content -->
                        <div class="col-sm-6 col-md-6 col-lg-6">
                            <%= image_tag("books/01.png", class:"img-responsive", alt:"img") %> <!-- Your book image display here -->
                        </div> <!-- End right content -->

                    </div> <!-- End row -->
                </div> <!-- End container -->
            </div> <!-- End background color overlay-->
            <div class="clearfix"></div>  <!-- Clearfix -->
        </section>


        <!--========================
         Things that You will Learn
        =========================-->
        <section id="learn" class="light">
            <div class="container"> <!-- Start container -->

                <div class="row"> <!-- Start row -->
                    <div class="section-title col-sm-6 col-sm-offset-3 col-md-6 col-md-offset-3 col-lg-6 col-lg-offset-3 wow fadeInDown" >
                        <h2>Things that You will Learn from <span class="highlight">the Book</span></h2> <!-- Section title -->
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore.</p> <!-- Subtitle -->
                    </div>
                </div> <!-- End row -->

                <div class="row"> <!-- Feature lists row -->
                    <div class="col-md-4 col-lg-4"> <!-- First column -->

                        <dl class="dl-horizontal wow fadeInDown" data-wow-delay="1s" data-wow-duration="1s">
                            <dt><i class="fa fa-check fa-2x"></i></dt>
                            <dd><h4 class="service-heading">100% Mobile Responive</h4>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima maxime quam architecto quo inventore harum ex magni</p></dd>
                        </dl>

                        <dl class="dl-horizontal wow fadeInDown" data-wow-delay="1.5s" data-wow-duration="1s">
                            <dt><i class="fa fa-check fa-2x"></i></dt>
                            <dd><h4 class="service-heading">Bootstrap 3.2</h4>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima maxime quam architecto quo inventore harum ex magni</p></dd>
                        </dl>

                    </div> <!-- End first column -->


                    <div class="col-md-4 col-lg-4"> <!-- Second column -->

                        <dl class="dl-horizontal wow fadeInDown" data-wow-delay="1s" data-wow-duration="1s">
                            <dt><i class="fa fa-check fa-2x"></i></dt>
                            <dd><h4 class="service-heading">SEO Friendly</h4>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima maxime quam architecto quo inventore harum ex magni</p></dd>
                        </dl>

                        <dl class="dl-horizontal wow fadeInDown" data-wow-delay="1.5s" data-wow-duration="1s">
                            <dt><i class="fa fa-check fa-2x"></i></dt>
                            <dd><h4 class="service-heading">Friendly UI</h4>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima maxime quam architecto quo inventore harum ex magni</p></dd>
                        </dl>

                    </div> <!-- End second column -->

                    <div class="col-md-4 col-lg-4"> <!-- Third column -->

                        <dl class="dl-horizontal wow fadeInDown" data-wow-delay="1s" data-wow-duration="1s">
                            <dt><i class="fa fa-check fa-2x"></i></dt>
                            <dd><h4 class="service-heading">Clean and Minimal</h4>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima maxime quam architecto quo inventore harum ex magni</p></dd>
                        </dl>

                        <dl class="dl-horizontal wow fadeInDown" data-wow-delay="1.5s" data-wow-duration="1s">
                            <dt><i class="fa fa-check fa-2x"></i></dt>
                            <dd><h4 class="service-heading">Smooth Scrolling</h4>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima maxime quam architecto quo inventore harum ex magni</p></dd>
                        </dl>

                    </div> <!-- End third column -->
                </div> <!-- End feature lists row -->

            </div> <!-- End container -->
            <div class="clearfix"></div> <!-- Clearfix -->
        </section>

        <!--========================
        ====== Footer Section ======
        =========================-->
        <section id="footer" class="light">
            <div class="container"> <!-- Start container -->
               <div class="row"> <!-- Start row -->
                   <div class="col-sm-10 col-sm-offset-1 col-md-10 col-md-offset-1 col-lg-10 col-lg-offset-1">
                            <div class="socials"> <!-- Start social media -->
                               <ul class="top wow fadeInDown" data-wow-delay="1s">
                                    <li><a href="#"><i class="fa fa-linkedin fa-2x"></i></a></li> <!-- Change # with your Behance Account -->
                                    <li><a href="#"><i class="fa fa-twitter fa-2x"></i></a></li> <!-- Change # with your Twitter Account -->
                                    <li><a href="#"><i class="fa fa-facebook fa-2x"></i></a></li> <!-- Change # with your FB Account -->
                                    <li><a href="#"><i class="fa fa-google-plus fa-2x"></i></a></li> <!-- Change # with your Google Account -->
                                    <li><a href="#"><i class="fa fa-flickr fa-2x"></i></a></li><!-- Change # with your Flickr Account -->
                                    <li><a href="#"><i class="fa fa-pinterest-square fa-2x"></i></a></li><!-- Change # with your Pinterest Account -->
                               </ul> <!-- End social media -->
                            </div>
                        <p class="wow fadeInDown" data-wow-delay="1s">Copyright &copy; 2014 BookWriter Designed with <i class="fa fa-heart"></i> <span class="highlight">JLP Media</span></p> <!-- Copyright Notice Here -->
                    </div> <!-- End col -->

                </div> <!-- End row-->
            </div> <!-- End container -->
            <div class="clearfix"></div> <!-- Clearfix -->
        </section>
