/* Constants */

$kite-blue: #52597D;
$kite-navy: #202b3c;
$kite-white: #ffffff;
$font-head: 'Arimo', sans-serif;
$font-text: 'Helvetica', sans-serif;

/* Global */

body {
  background-color: #202B3C;
  font-family: $font-text;
  height:100%
}
#content-top {
  background: url(bluebg2.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
-moz-background-size: cover;
-o-background-size: cover;
background-size: cover;
  padding-top:2rem;
  overflow: hidden;
  height: 100%;
}
.overlay {
  background: rgba(37,44,65,0.82);
  overflow: hidden;
  height: 100%;
  z-index: 2;
}
.left-column {
  padding:5rem 0 0 5rem;
}
.right-column {
  padding:0;
.row {
  margin:0;
}
}
.white {}
.white h1{
  color:#222;
  font-size: 2.1rem;
  padding:2rem;
}
.section_wrap {
  padding:3rem;
}
.fa-caret-down {
  padding:5px;

}
/* Nav */
ul.nav li.dropdown:hover > ul.dropdown-menu {
    display: block;
}
.navbar {
  background-color: $kite-navy;
  padding-bottom:1.5rem;
  margin:0;
  width:81rem;
}
.navbar-brand {
  margin-top:.5rem;
}
.navbar li {
  margin-top:2rem;
  margin-bottom: -1rem;
  padding:5px;
  color: $kite-white;
  font-family: $font-text !important;

}
.dropdown-menu li {
  margin:0;
}
.navbar-default .navbar-nav > li {
  color: $kite-white;
}
.navbar-default .navbar-nav > li > a {
  color: $kite-white;
  text-transform:uppercase;
  padding: 0 10px;
  letter-spacing:1px;
}
.navbar-default .navbar-nav > li > a:hover{
  color: $kite-white;
  padding: 0 10px;
  letter-spacing:1px;
}
.navbar-default .navbar-nav > li > a:visited{
  color: $kite-white;
  padding: 0 10px;
  letter-spacing:1px;
}
.navbar-default .navbar-nav > .open > a:hover {
    color: #555;
    background-color: #e7e7e7;
    padding: 6px 13px;
    color: #222;
    margin-bottom: -6px;
    margin-right: -4px;
}
.navbar-default .navbar-nav > .open > a {
    color: #555;
    background-color: #e7e7e7;
    padding: 6px 13px;
    color: #222;
    margin-bottom: -6px;
    margin-right: -4px;
}

/* Headers and Labels */
h1 {
  font-size:3rem;
  font-weight:200;
  color:$kite-white;
  padding-bottom:0;
  margin-bottom:0;
  -webkit-font-smoothing: antialiased;
}
h2 {
  font-size:1.3rem;
  font-weight:200;
  color:$kite-white;
}
h4 {
    font-size: 0.85rem;
    line-height: 1.625rem;
    font-weight: 900;
    color: $kite-white;
    -webkit-font-smoothing: antialiased;
    padding-bottom:0;
    margin-bottom:0;
}
p {
  font-family:$font-text;
  font-size: 0.85rem;
  line-height: 1.625em;
  font-weight: 100;
  padding-bottom:0;
  margin-bottom:0;
}
/* Buttons */
.kite-trans {
    padding: .7rem 2rem;
    border: 1px solid $kite-white;
    color: #fff;
    font-family: "Open sans";
    text-transform: uppercase;
    margin-top:1rem;
}
.kite-trans:hover {
  background-color:$kite-white;
  color:#222;
}
.kite-dark {
    background-color:$kite-navy;
    padding: .8rem 2rem;
    border: 1px solid $kite-navy;
    color: $kite-white;
    font-family: "Open sans";
    text-transform: uppercase;
    margin:1rem;
}
.kite-dark:hover {
  background-color:$kite-white;
  color:#222;
}

/* Elements */
.book-block {
  min-height: 364px;
  margin-bottom: -1rem;
  padding-bottom:0;
  position: relative;
}
.book-holder {
  margin: 0 auto;
  padding-left:10rem;
  padding-right:10rem;
}
.book-block img {
    display: block;
    width: 100%;
    height: auto;
}
.book-block .caption-box {
    position: absolute;
    top: 34px;
    left: 32px;
    letter-spacing: 1px;
    text-transform: uppercase;
    text-align: left;
    min-width: 350px;
    display: block;
    padding: 17px 65px 15px 17px;
    color: rgba(255,255,255,0.75);
    text-shadow: 0 0 10px #000000;
}
.book-name h1 {
  margin-bottom:0;
}
.book-subtitle {
  margin-top:-3px;
}
.book-hero {
    text-transform: uppercase;
    font-family:$font-text;
    font-weight: 100;
    letter-spacing: 1px;
    font-size: 1.2rem;
    line-height: 22px;
    margin-top: 2rem;
    text-align:center;
    color:$kite-white;
}
