/* Constants */

$kite-blue: #34314C;
$kite-white: #ffffff;
$font-stack: 'Helvetica Neue';

/* Global */

body {
  background-color: $kite-blue;
  font-family: $font-stack;
  height:100%
}
.right-column {
  padding:3rem;
}
.left-column {
  padding:3rem;
}
.white h1{
  color:#222;
  font-size: 2.1rem;
  padding:2rem;
}
.section_wrap {
  padding:3rem;
}
/* Nav */
.navbar {
  background-color: $kite-blue;
}
.navbar li {
  padding:5px;
  color: $kite-white;
}
.navbar-default .navbar-nav > li > a {
  color: $kite-white;
}
.navbar-default .navbar-nav > li > a:hover{
  color: $kite-white;
}
/* Headrs and Labels */
h1 {
  font-size:3rem;
  font-weight:400;
  color:$kite-white;
}
h2 {
  font-size:1.3rem;
  font-weight:200;
  color:$kite-white;
}
