<nav class="navbar navbar-default navbar-static-top">
  <div class="container">
    <a class="navbar-brand" href="/">
        <%= image_tag("kite_only.png", height: '50') %>
      </a>
    <ul class="nav navbar-nav navbar-right">
        <li><%= link_to "/core7" do %>
          Core<sup>7</sup>
        <% end %>
      </li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">IdeaBooks <span class="caret"></span></a>
          <ul class="dropdown-menu animated fadeInDown" data-dropdown-in="bounce" data-dropdown-out="fadeOut">
            <li><a href="#">Church</a></li>
            <li><a href="#">Legal</a></li>
            <li><a href="#">Nonprofit</a></li>
            <li><a href="#">Association</a></li>
          </ul>
        </li>
        <li><%= link_to "/ideacamp" do %>
            <span style="font-weight:bold">Idea</span><span style="font-weight:100;">Camp</span>
            <% end %>
          </li>
        <li><%= link_to "/ideaintensive" do %>
          <span style="font-weight:bold">Idea</span><span style="font-weight:100;">Intensive</span>
          <% end %>
        </li>
      </ul>
  </div>
</nav>
