<nav class="navbar navbar-default navbar-static-top">
  <div class="container">
    <a class="navbar-brand" href="/">
        <%= image_tag("kite_only.png", height: '50') %>
      </a>
    <ul class="nav navbar-nav navbar-right">
        <li><%= link_to "Home", "/" %></li>
        <li><%= link_to "/ideacamp" do %>
            <span style="font-weight:bold">Idea</span><span style="font-weight:100;">Camp</span>
            <% end %>
          </li>
        <li><%= link_to "/ideaintensive" do %>
          <span style="font-weight:bold">Idea</span><span style="font-weight:100;">Intensive</span>
          <% end %>
        </li>
      </ul>
  </div>
</nav>
