<nav class="navbar navbar-default navbar-static-top">
  <div class="container">
    <a class="navbar-brand" href="/">
        <%= image_tag("kite_only.png", height: '50') %>
      </a>
    <ul class="nav navbar-nav navbar-right">
        <li><%= link_to "Home", "/" %></li>
        <li><%= link_to "IdeaCamp", "/ideacamp" %></li>
        <li><%= link_to "IdeaIntensive", "/ideaintensive" %></li>
      </ul>
  </div>
</nav>
